[Unit]
Description=Check BiteMate for updates every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=10s
Persistent=true
Unit=banana-mate-deploy.service

[Install]
WantedBy=timers.target
